//custom variables

//import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.footer {
  padding: 5rem 0rem;
  background: #164682;
}

.footer-text {
  padding: 0 45px;
  text-align: center;
}
